# exclude all
/*

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle
!gradle.properties

# Other Files.
!LICENSE.txt
!README.md

# Include git important files
!.gitmodules
!.gitignore
!.github/

# Include Important Folders
!src/
