# ChickenChunks Access Transformer

#Copied from CCL
public net.minecraft.core.Direction BY_3D_DATA # BY_3D_DATA
public net.minecraft.client.renderer.RenderStateShard * # Everything.
public net.minecraft.client.renderer.RenderType *() # All Methods
public net.minecraft.client.renderer.RenderType * # All Fields.
